@font-face {
  font-family: "JLR Emeric ExtraLight";
  src: url("//db.onlinewebfonts.com/t/9662d53a0d10077a4c6c0e9c897eeade.eot");
  src: url("//db.onlinewebfonts.com/t/9662d53a0d10077a4c6c0e9c897eeade.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/9662d53a0d10077a4c6c0e9c897eeade.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/9662d53a0d10077a4c6c0e9c897eeade.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/9662d53a0d10077a4c6c0e9c897eeade.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/9662d53a0d10077a4c6c0e9c897eeade.svg#JLR Emeric ExtraLight")
      format("svg");
}
* {
  font-family: "Helvetica Neue", "JLR Emeric ExtraLight", "Segoe UI", Roboto,
    Oxygen, "Open Sans", sans-serif;
  box-sizing: border-box;
}
html,
body {
  background: #121212;
  color: white;
  max-width: 100vw;
  margin: 0;
}

/* Top Bar */
#mainHeader {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-family: "JLR Emeric ExtraLight";
  font-size: 1.3rem;
  background: #191919;
  color: #808080;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
#mainHeader img {
  max-width: 20%;
  padding-left: 0.8rem;
  padding-right: 1rem;
}

/* Main Page */
.mainImages {
  position: relative;
  width: 98vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.mainImages img {
  animation: 500ms slideInImg ease-in-out forwards;
  position: absolute;
  max-width: 100%;
}
img#img1.mainImage {
  z-index: 0;
}
img#img2.mainImage {
  z-index: 1;
}
img#img3.mainImage {
  z-index: 2;
}
img#img4.mainImage {
  z-index: 3;
}
.hidden {
  display: none;
}
.intro {
  max-width: 85vw;
  padding: 0.5rem;
  color: #aaa;
  font-variant: small-caps;
  border: 0.15rem solid #606060;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.btn-start {
  width: 100%;
  padding: 0.5rem;
  color: #aaa;
  background: transparent;
  font-variant: small-caps;
  border: 0.15rem solid #606060;
  text-align: center;
  margin-top: 1rem;
}
.btn-start:hover,
.btn-start:focus {
  background: #606060;
  color: white;
}

/* ========== Breakpoints ============ */

/* Tablet Size and > */
@media (min-width: 768px) {
  #mainHeader {
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .mainImages {
    height: 60vh;
  }
}

/* Laptops and other larger screens */
@media (min-width: 1280px) {
  #mainHeader {
    font-size: 3rem;
    font-weight: 300;
  }
  .mainImages {
    height: 65vh;
  }
}

/* ========== Animations  ========== */

/* Main page images animation */
@keyframes slideInImg {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
