@font-face {
  font-family: "JLR Emeric ExtraLight";
  src: url("//db.onlinewebfonts.com/t/9662d53a0d10077a4c6c0e9c897eeade.eot");
  src: url("//db.onlinewebfonts.com/t/9662d53a0d10077a4c6c0e9c897eeade.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/9662d53a0d10077a4c6c0e9c897eeade.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/9662d53a0d10077a4c6c0e9c897eeade.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/9662d53a0d10077a4c6c0e9c897eeade.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/9662d53a0d10077a4c6c0e9c897eeade.svg#JLR Emeric ExtraLight")
      format("svg");
}
* {
  font-family: "Helvetica Neue", "JLR Emeric ExtraLight", "Segoe UI", Roboto,
    Oxygen, "Open Sans", sans-serif;
  box-sizing: border-box;
}
html,
body {
  background: #121212;
  color: white;
  max-width: 100vw;
  margin: 0;
}

/* ===== Top Nav Bar ===== */
#mainHeader {
  position: relative;
  z-index: 0;
  top: 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-family: "JLR Emeric ExtraLight";
  font-size: 1.3rem;
  background: #191919;
  color: #808080;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
#mainHeader img {
  max-width: 20%;
  padding-left: 0.8rem;
  padding-right: 1rem;
}

/* ===== Main Page ===== */
.mainImages {
  position: relative;
  width: 98vw;
  min-height: 50vh;
  max-height: 65vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.mainImages img {
  animation: 500ms slideInImg ease-in-out forwards;
  position: absolute;
  max-width: 100%;
}
img#img1.mainImage {
  z-index: 0;
}
img#img2.mainImage {
  z-index: 1;
}
img#img3.mainImage {
  z-index: 2;
}
img#img4.mainImage {
  z-index: 3;
}
.hidden {
  display: none;
}
.intro {
  max-width: 85vw;
  padding: 0.5rem;
  color: #aaa;
  font-variant: small-caps;
  border: 0.15rem solid #606060;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.btn-start {
  width: 100%;
  padding: 0.5rem;
  color: #aaa;
  background: transparent;
  font-variant: small-caps;
  border: 0.15rem solid #606060;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
}
.btn-start:hover,
.btn-start:focus {
  background: #606060;
  color: white;
}

/* ===== MODULE SELECTION PAGE ==== */
#menu h3 {
  font-weight: 300;
  padding: 0.5rem;
  width: 90%;
  text-align: center;
  color: #aaa;
  border: 0.15rem solid #aaa;
  margin-left: auto;
  margin-right: auto;
}
.menu__Items {
  max-height: 90vh;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
  grid-gap: 0.5rem;
}

.menu__Item {
  border: 0.15rem solid #606060;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}
.menu__Item img {
  max-width: 100%;
}
.menu__Item p {
  text-align: center;
  color: #aaa;
  width: 90%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.menu__Item:hover,
.menu__Item:focus {
  animation: 400ms menuHover ease-in-out forwards;
}

/* ===== PROGRESS BAR ===== */
.progress__Container {
  position: fixed;
  bottom: 1rem;
  width: 80vw;
  height: 0.4rem;
  background: #606060;
}
.progress__Bar {
  width: 0%;
  height: 100%;
  background: gold;
}
.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ====== NOTIFICATIONS ====== */
.error {
  animation: 600ms notification ease-in-out forwards;
  position: absolute;
  z-index: 0;
  top: 1rem;
  right: 1rem;
  background: rgb(255, 145, 145);
  color: rgb(190, 0, 0);
  border: 0.05rem solid rgb(190, 0, 0);
  font-weight: 400;
  font-size: 0.9rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.success {
  animation: 600ms notification ease-in-out forwards;
  position: absolute;
  z-index: 0;
  top: 1rem;
  right: 1rem;
  background: rgb(185, 255, 210);
  color: rgb(0, 145, 85);
  border: 0.05rem solid rgb(185, 255, 210);
  font-weight: 400;
  font-size: 0.9rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.notificationOut {
  animation: 600ms notificationOut ease-out forwards;
}

/* ====== MODULE PAGE ====== */
.info {
  position: relative;
  width: 95vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-left: auto;
  margin-right: auto;
}
.info img {
  animation: 2600ms bounce linear infinite;
  max-width: 95%;
  z-index: 1;
}
.info__full {
  margin-top: 4.5rem;
  height: auto;
  min-width: 25%;
  background: #202020;
  padding: 1.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  font-variant: small-caps;
  line-height: 1.8rem;
  word-spacing: 0.1rem;
  letter-spacing: 0.06rem;
}

/* ========== Breakpoints ============ */

/* Tablet Size and > */
@media (min-width: 768px) {
  #mainHeader {
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  #mainHeader img {
    max-width: 10%;
  }
  .mainImages {
    min-height: 50vh;
    max-height: 70vh;
  }
  .menu__Items {
    grid-gap: 0.9rem;
    max-height: 80vh;
  }

  .menu__Item {
    border: 0.2rem solid #606060;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }
  .menu__Item img {
    max-width: 100%;
  }
  .menu__Item p {
    margin-top: 2.1rem;
    font-size: 1.3rem;
  }
}

/* Laptops and other larger screens */
@media (min-width: 1280px) {
  #mainHeader {
    font-size: 2rem;
    font-weight: 300;
  }
  #mainHeader img {
    max-width: 10%;
  }
  .mainImages {
    min-height: 50vh;
    max-height: 70vh;
  }
  .menu__Items {
    grid-gap: 2rem;
    max-height: 95vh;
    grid-template-columns: repeat(4, 1fr);
  }

  .menu__Item {
    border: 0.2rem solid #606060;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }
  .menu__Item img {
    max-width: 100%;
  }
  .menu__Item p {
    margin-top: 2.1rem;
    font-size: 1.6rem;
  }
  .info {
    width: 95vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .info img {
    animation: 2600ms bounce linear infinite;
    max-width: 75%;
  }
  .info__full {
    height: auto;
    min-width: 25%;
    background: #202020;
    padding: 1.5rem;
    font-weight: 400;
    font-size: 1.5rem;
    font-variant: small-caps;
    line-height: 2rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.06rem;
  }
}

/* ========== Animations  ========== */

/* Main page images animation */
@keyframes slideInImg {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Module selection animation */
@keyframes menuHover {
  100% {
    border: 0.2rem dashed gold;
    transform: scale(0.9);
  }
}

/* Notifications Animations */
@keyframes notification {
  0% {
    transform: translateX(10rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes notificationOut {
  0% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(20rem);
  }
}

/* Module page image bouncing animation */
@keyframes bounce {
  0% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(1rem);
  }
}
